body{
    font-family: sans-serif;
    background-image: url(imagenes/FondoDeHojas.avif);
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}
.TextoCuerpo {
    background-color: rgb(59, 59, 59);
    width: 30%;
    margin: 0 auto;
    padding: 50px 30px;    
    color: white;
    font-size: 10px;
}
h1{
    text-align: center;
    margin: 0%;
    font-size: 13px;
    
}