body{
    height: vh100;
    background-image: url('imagenes/imagendeunbar.jpg');
    margin: 0px;    
}
nav{
    background-color: rgb(58, 58, 58);
    display: flex;
    font-family: comic sans-serif;
    color: white;
    height: 40px;
    width: vw100;
    padding: 20px;
}
.menuDerecha{
    display: flex; 
    gap: 20px;
    margin-left: auto;
}
.cuerpoDeTexto{
    font-family: comic sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 0 #000,
                 2px 2px 0 #000,
                 2px 2px 0 #000,
                 2px 2px 0 #000;
}
h4{
    color: rgb(231, 247, 11);
    
}